body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0 auto;
}
body * {
    box-sizing: border-box;
}
.container{
    max-width: 1250px;
    margin: 0 auto;
}
.logo {
color: #E3B873;
}
.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    }
.header {
    background-color: black;
}
.header-content{
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    white-space: nowrap;
}    
.header-navigation {
    list-style: none;
    display: flex;
}
.header-navigation_item {
    margin-right: 47px;
}
.header-navigation_item a {
    text-decoration: none;
    color: white;
}
.tel {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
    margin-right: 45px;
}
.block1 {
    background-image: url(../image/block1.jpg);
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}
.title {
    margin: 0;
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 628px;
    margin-bottom: 19px;

}
.block1-container {
    position: relative;
    z-index: 1;
}
.block1-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}
.block1-text {
    color:#FFFFFF;
    margin-right: 800px ;
} 
.left-button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    padding: 20px 42px;
}
.right-buttom {
    background: rgba(0, 0, 0, 0.7);
    padding: 19px 23px;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    font-family: 'Nunito Sans', sans-serif;
}
.block2 {
    background-color: black;
    background-size: cover;
    height: 1074px;
    padding-top: 107px;
    position: relative;
}
.tag1 {
   color: rgba(255, 255, 255, 0.3);
   justify-content: space-between;
   display: flex;
   margin-left: 626px;
   margin-bottom: 53px;
   list-style: none;   
}
.tag1-item {
    color: rgba(227, 184, 115, 1);
    display: inline;
    border-bottom: 1px solid rgba(227, 184, 115, 1);
  
}
.tag2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}
.tag3 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}
.block2-image {
    background-image: url(../image/block2.png);
    background-size: cover;
    height: 482px;
    width: 679px;
    float: right;
}
.Big-teg1 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    list-style: none;
}
.little-tag1 {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}
.block2-containerText {
    margin-right: 50px;
    background-size: cover;
    width: 442px;
    position: relative;
    float: left;
}
.contaiter-block2 {
    max-width: 1250px;
    margin: 0 auto;
}